# IDE files
.idea/
*.iml
*.iws
*.ipr

#vscode files
.vscode/

# Build files
build/
.gradle/
out/

# Log files
*.log

# Local configuration files
application-*.properties
secrets/
*.env

# Other
.DS_Store
.DS_Store?

# *.xlsx